/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #fff;
}

/* стилизация блока header */
.header_avtograd {
  max-width: 1140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.telefon_header {
  padding-right: 62px;
}

.telefon_header h2 {
  font-family: 'Conv_proximanova-bold',
    sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
}

.header_menu {
  padding-right: 37px;
}

.header_menu__links {
  text-decoration: none;
  padding-left: 35px;
  font-family: 'Conv_proximanova-light',
    sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #1c1c1c;
  transition: all 0.5s ease;
}

.header_menu__links:hover {
  cursor: pointer;
  color: #c91111;
}

.header_button {
  padding-top: 10px;
}

.header_button__links {
  text-decoration: none;
  text-align: center;
  width: 140px;
  height: 30px;
  padding: 13px 21px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #c91111;
  outline: none;
  font-family: 'Conv_proximanova-bold',
    sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 22px;
  transition: all 0.5s ease;
}

.header_button__links:hover {
  background: #fff;
  color: #c91111;
  border: 1px solid #c91111;
  cursor: pointer;
}

.header_line {
  width: auto;
  background-color: #f4f4f4;
  opacity: 0.4;
}

.header_logo {
  max-width: 1140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header_logo h3 {
  padding-left: 170px;
  font-family: 'Conv_proximanova-light', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #1c1c1c;
}

.header_telefon h2 {
  padding-left: 87px;
  font-family: 'Conv_proximanova-bold', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

.header_links_app {
  margin-left: 105px;
  display: flex;
}

.header_links_app a {
  margin-left: 10px;
}

/* =========================================================== */

.main-banner {
  height: 651px;
  width: 100%;
  background: url(../img/bg_banner_1.jpg) no-repeat;
  margin-top: 22px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.banner-title {
  padding-top: 130px;
  font-size: 32px;
  font-family: 'Conv_proximanova-bold',
    sans-serif;
  font-weight: 800;
  line-height: 50px;
  color: #fff;
}

.banner_text {
  padding-top: 64px;
  font-family: 'Conv_proximanova-light', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

#strong_text_head {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

#strong_text {
  font-family: 'Conv_proximanova-light', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 900;
}

.banner_button {
  padding-top: 70px;
}

.banner_button__links {
  text-decoration: none;
  width: 336px;
  height: 65px;
  padding: 27px 44px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #ca1212;
  color: #fff;
  font-family: 'Conv_proximanova-bold',
    sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
  transition: all 0.5s ease;
}

.banner_button__links:hover {
  background: #fff;
  color: #ca1212;
  border: 2px solid #ca1212;
}

/* ========================================================= */

/* service block */

.service-block {
  margin-top: 100px;
}

.services_head {
  text-align: center;
}

.services_head__title {
  font-family: 'Conv_proximanova-bold',
    sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
}

.services_column {
  width: 870px;
  height: 430px;
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.services_item {
  margin-bottom: 95px;
  margin-right: 165px;
  display: flex;
  align-items: center;
}

.services_item img {
  margin-right: 30px;
}

.services_item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Conv_proximanova-light', sans-serif;
  transition: all 0.5s ease;
}

.services_item a:hover,
:active {
  color: #ca1212;
}